---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Learn more about me!" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Originating from Northwest Arkansas, I carry a deep-seated passion for innovation and its capacity to reshape our world. 
    With a keen interest in full-stack development and AI, I plan on continuing my education in Georgia Tech's MSCS program. 
    I'm currently open for opportunties in SWE internships and other mentorships. I am also a part of Simpson College's nationally recognized Speech & Debate Team.
    Beyond coding and academics, I love trying new foods and practicing my pit master skills (barbecuing). I like listening to K-Pop and watching the Bears and Timberwolves play.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement title="Simpson College - B.A. in Computer Science" subtitle="August 2021 - Present, Indianola, IA">
      <p><i>Data Structures & OOP, Intro to Algorithms Databases Systems & SQL, Artificial Intelligence, Software Eng, Introduction to Programming: Python, Data Modeling in R</i> </p>
    </TimeLineElement>
  
    <TimeLineElement title="Har-Ber High School - High School Diploma" subtitle="August 2018 - May 2021, Springdale, AR">
      <p><b>GPA: 3.89 ACT: 33</b> <span style="margin-right: 10px;"></span><p><i>Honors: National Speech and Debate Semi-Finalist, Arkansas State Speech Champion, AP Scholar</i></p></p>
    </TimeLineElement>

  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement title="Software Engineering Intern @ Dance4Healing" subtitle="Jun 2024 - Sep 2024, Sunnyvale, CA (Remote)">
      <style>
        ul {
          list-style-type: disc;
          padding-left: 20px;
        }
      </style>
      <ul>
        <li>Engineered and tested web application, delivering personalized dance routines for over 1,000 cancer patients, enabling real-time group participation, fostering collaboration with Stanford Healthcare</li>
        <li>Explored and began incorporating Natural Language Processing (NLP) to generate accurate, real-time captions during live sessions, improving accessibility for users </li>
        <li>Utilized JavaScript/React to create interactive and user-friendly interfaces, improving the overall performance and engagement of the application</li>
      </ul>
      </TimeLineElement>

    <TimeLineElement title="IT Support Specialist (Help Desk) @ Simpson College" 
    subtitle="August 2021 -, Indianola, IA">
      <style>
        ul {
          list-style-type: disc;
          padding-left: 20px;
        }
      </style>
      <ul>
        <li>Provided IT software and hardware support to over 1000 students and faculty across campus</li>
        <li>Managed team of 3 to ensure timely resolution of IT issues, regularly conducting team meetings to discuss priorities and challenges to maximize efficiency and productivity.</li>
        <li>Worked on tickets using Simpson’s ticketing system to effectively provide documentation, while also taking advantage of knowledge base articles to supplement troubleshooting and research</li>
      </ul>
    
    </TimeLineElement>

    <TimeLineElement
      title="Speech/Debate Undergraduate Asst. @ Simpson College"subtitle="May 2022 - August 2023">
      <style>
        ul {
          list-style-type: disc;
          padding-left: 20px;
        }
      </style>
      <ul>
        <li>Assisted peers in finding and practicing their speech and debate events by providing feedback on a bi-weekly basis</li>
        <li>Established structured curriculum for speech workshops, tailored to individual levels and event preferences</li>
        <li>Organized additional practice sessions to foster a collaborative team environment, contributing to multiple national finalist</li>
      </ul>
    </TimeLineElement>
  </div>


  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Awards/Certificates</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://drive.google.com/file/d/1zp-kOBAAAWUTedwC_c6TttKELMjhNiUK/view?usp=sharing" target="_blank"> JPMorgan Chase & Co. Software Engineering Virtual Intern Experience Certificate (with link)</a>
    </li>
    <li>
      <a href="https://simpson.edu/academics/beyond-classroom/speech-and-debate" target="_blank"> Pi Kappa Delta National Champion 2021/2022</a>
    </li>
    <li>
      <a href="https://github.com/AndSam321/Vet-U" target="_blank"> BuildDSM V1 Hackathon Winner (Best Pitch/Demo) - Second Overall out of 200+ Participants</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Python (Proficient)</li>
    <li>Java (Proficient)</li>
    <li>HTML/CSS/JS (Proficient)</li>
    <li>SQL (Proficient)</li>
    <li>Django (Proficient)</li>
    <li>R (Proficient)</li>
    <li>Flask (Proficient)</li>
    <li>C++ (Basic)</li>
    <li>ReactJS (Basic)</li>
    <li>Node.JS (Basic)</li>
    <li>Golang (Basic)</li>
    <li>English (Fluent)</li>
    <li>Lao (Fluent)</li>
    <li>Spanish (Elementary)</li>
  </ul>

  <style>
    .skills-section {
      margin-bottom: 20px; 
    }
  </style>
  
  <div class="mb-5 skills-section">
    <div class="text-3xl w-full font-bold">Resume</div>
    <a href="/Andrew_Samountry_Resume.pdf" target="_blank">
      <br><strong>Click here for my resume!</strong>
    </a>
  </div>
  
</BaseLayout>
